*.swp
*.bak

*.class
*.log

# sbt specific
spark/target/
spark/lib_managed/
spark/src_managed/
spark/project/project
spark/project/target
spark/.idea/
spark/src/target/

# Scala-IDE specific
.scala_dependencies
.worksheet

# binaries
f7u12
balance_board/balance_board
