html {
  position: relative;
  min-height: 100%;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  -o-user-select: none;
  user-select: none;
  font-family: 'Inconsolata', monospace;
}

h1 { font-size: 80px; text-align: center; }
h2 { font-size: 70px; text-align: center; }
h3 { font-size: 60px; text-align: center; }
h4 { font-size: 50px; text-align: center; }
h5 { font-size: 40px; text-align: center; }
h6 { font-size: 30px; text-align: center; }

/* vim: et ts=2 sw=2 ai smarttab */
