div.f7u12-score {
	height: 40px;
	width: 200px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
}

div.f7u12-grid {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px #888888;
    border: 1px solid #c8d7dc;
    border-radius: 3px;
}

div.f7u12-cell {
    display: inline-block;
    width: 80px;
    height: 80px;
    float: left;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 3px;
    box-shadow: 3px 3px 5px #888888;
    border: 1px solid #c8d7dc;
    border-radius: 3px;
}

div.f7u12-cell-empty { background: rgba(0,0,0,0); }
div.f7u12-cell-2     { background: rgba(238, 228, 218, 0.75); }
div.f7u12-cell-4     { background: rgba(237, 224, 200, 0.75); }
div.f7u12-cell-8     { background: rgba(242, 177, 121, 0.75); }
div.f7u12-cell-16    { background: rgba(245, 149, 99, 0.75); }
div.f7u12-cell-32    { background: rgba(246, 124, 95, 0.75); }
div.f7u12-cell-64    { background: rgba(246, 94, 59, 0.75); }
div.f7u12-cell-128   { background: rgba(237, 207, 114, 0.75); }
div.f7u12-cell-256   { background: rgba(237, 204, 97, 0.75); }
div.f7u12-cell-512   { background: rgba(237, 200, 80, 0.75); }
div.f7u12-cell-1024  { background: rgba(237, 197, 63, 0.75); }
div.f7u12-cell-2048  { background: rgba(237, 194, 46, 0.75); }
